@tailwind base;
@tailwind components;
@tailwind utilities;

.thisGrid {
    position: relative;
}

.thisGrid:hover .thisEffect {
    display: block;
    opacity: 1;
  }
  
  .thisEffect {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 10px;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    cursor: pointer;
  }
  